.card-m {
  position: relative;
  height: 100%;
  min-height: 87vh;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border: 1px solid rgba(255, 255, 255, 0.135);
}


.op-text{
  color: rgba(173, 219, 255, 0.618);
}

/* .card-m:hover {
  transform: scale(1.08);
} */

.title-m {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-weight: bold;
  font-size: 1.1rem;
}

.box-m {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(66, 66, 66, 0.349) 5px 0px 10px 0px inset;
  transition: all 0.5s ease-in-out;
  display: grid;
  place-content: center;
  padding: 2rem 2rem 3rem 2rem;
  border: 1px solid black;
}

.box-m .content-m {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out 0.3s;
}

.box-m .content-m .box-title {
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.box-m .content-m .box-text {
  color: rgba(255, 255, 255, 0.738);
  font-size: 0.8rem;
}

.box-m:hover {
  right: 0;
  top: 0;
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: rgba(66, 66, 66, 0) 5px 0px 10px 0px inset;
}

.box-m:hover .content-m {
  transform: translate(0, 0);
  opacity: 1;
}

.box2 {
  top: -94%;
  right: -50%;
  background-color: #050a1c;
  border-radius: 200px;
  border: 1px solid rgba(88, 110, 127, 0.618);
}

.box3 {
  top: -88%;
  right: -49%;
  background-color: #050a1c;
  border-radius: 200px;
  padding-top: 50px;
  border: 1px solid rgba(88, 110, 127, 0.618);
}

.hrr{
  border-left: 3px solid  rgba(88, 110, 127, 0.618);
  height: 250px;
  position: absolute;
  margin-left: 305px;
  margin-top: 44px;
  margin-bottom: 50px;
}

.hrro{
  border-left: 3px solid  rgba(88, 110, 127, 0.618);
  height: 250px;
  position: absolute;
  margin-left: 260px;
  margin-top: 208px;
  margin-bottom: 50px;
}

body{
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0px, rgba(0, 0, 0, 0.11) 12px, rgba(1, 1, 1, 0.16) 12px, rgba(1, 1, 1, 0.16) 24px, rgba(0, 0, 0, 0.14) 24px, rgba(0, 0, 0, 0.14) 36px, rgba(0, 0, 0, 0.23) 36px, rgba(0, 0, 0, 0.23) 48px, rgba(0, 0, 0, 0.12) 48px, rgba(0, 0, 0, 0.12) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(0, 0, 0, 0.21) 72px, rgba(0, 0, 0, 0.21) 84px, rgba(0, 0, 0, 0.24) 84px, rgba(0, 0, 0, 0.24) 96px, rgba(1, 1, 1, 0.23) 96px, rgba(1, 1, 1, 0.23) 108px, rgba(1, 1, 1, 0.07) 108px, rgba(1, 1, 1, 0.07) 120px, rgba(0, 0, 0, 0.01) 120px, rgba(0, 0, 0, 0.01) 132px, rgba(1, 1, 1, 0.22) 132px, rgba(1, 1, 1, 0.22) 144px, rgba(1, 1, 1, 0.24) 144px, rgba(1, 1, 1, 0.24) 156px, rgba(0, 0, 0, 0) 156px, rgba(0, 0, 0, 0) 168px, rgba(0, 0, 0, 0.12) 168px, rgba(0, 0, 0, 0.12) 180px), repeating-linear-gradient(90deg, rgba(1, 1, 1, 0.01) 0px, rgba(1, 1, 1, 0.01) 12px, rgba(1, 1, 1, 0.15) 12px, rgba(1, 1, 1, 0.15) 24px, rgba(0, 0, 0, 0.09) 24px, rgba(0, 0, 0, 0.09) 36px, rgba(0, 0, 0, 0.02) 36px, rgba(0, 0, 0, 0.02) 48px, rgba(0, 0, 0, 0.1) 48px, rgba(0, 0, 0, 0.1) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(1, 1, 1, 0.15) 72px, rgba(1, 1, 1, 0.15) 84px, rgba(0, 0, 0, 0.18) 84px, rgba(0, 0, 0, 0.18) 96px, rgba(1, 1, 1, 0.15) 96px, rgba(1, 1, 1, 0.15) 108px, rgba(1, 1, 1, 0.09) 108px, rgba(1, 1, 1, 0.09) 120px, rgba(1, 1, 1, 0.07) 120px, rgba(1, 1, 1, 0.07) 132px, rgba(1, 1, 1, 0.05) 132px, rgba(1, 1, 1, 0.05) 144px, rgba(0, 0, 0, 0.1) 144px, rgba(0, 0, 0, 0.1) 156px, rgba(1, 1, 1, 0.18) 156px, rgba(1, 1, 1, 0.18) 168px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 16px, rgba(1, 1, 1, 0.06) 16px, rgba(1, 1, 1, 0.06) 32px, rgba(0, 0, 0, 0.16) 32px, rgba(0, 0, 0, 0.16) 48px, rgba(1, 1, 1, 0) 48px, rgba(1, 1, 1, 0) 64px, rgba(1, 1, 1, 0.12) 64px, rgba(1, 1, 1, 0.12) 80px, rgba(1, 1, 1, 0.22) 80px, rgba(1, 1, 1, 0.22) 96px, rgba(0, 0, 0, 0.24) 96px, rgba(0, 0, 0, 0.24) 112px, rgba(0, 0, 0, 0.25) 112px, rgba(0, 0, 0, 0.25) 128px, rgba(1, 1, 1, 0.12) 128px, rgba(1, 1, 1, 0.12) 144px, rgba(0, 0, 0, 0.18) 144px, rgba(0, 0, 0, 0.18) 160px, rgba(1, 1, 1, 0.03) 160px, rgba(1, 1, 1, 0.03) 176px, rgba(1, 1, 1, 0.1) 176px, rgba(1, 1, 1, 0.1) 192px), repeating-linear-gradient(135deg, rgba(1, 1, 1, 0.18) 0px, rgba(1, 1, 1, 0.18) 3px, rgba(0, 0, 0, 0.09) 3px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.08) 6px, rgba(0, 0, 0, 0.08) 9px, rgba(1, 1, 1, 0.05) 9px, rgba(1, 1, 1, 0.05) 12px, rgba(0, 0, 0, 0.01) 12px, rgba(0, 0, 0, 0.01) 15px, rgba(1, 1, 1, 0.12) 15px, rgba(1, 1, 1, 0.12) 18px, rgba(0, 0, 0, 0.05) 18px, rgba(0, 0, 0, 0.05) 21px, rgba(1, 1, 1, 0.16) 21px, rgba(1, 1, 1, 0.16) 24px, rgba(1, 1, 1, 0.07) 24px, rgba(1, 1, 1, 0.07) 27px, rgba(1, 1, 1, 0.23) 27px, rgba(1, 1, 1, 0.23) 30px, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0.2) 33px, rgba(0, 0, 0, 0.18) 33px, rgba(0, 0, 0, 0.18) 36px, rgba(1, 1, 1, 0.12) 36px, rgba(1, 1, 1, 0.12) 39px, rgba(1, 1, 1, 0.13) 39px, rgba(1, 1, 1, 0.13) 42px, rgba(1, 1, 1, 0.2) 42px, rgba(1, 1, 1, 0.2) 45px, rgba(1, 1, 1, 0.18) 45px, rgba(1, 1, 1, 0.18) 48px, rgba(0, 0, 0, 0.2) 48px, rgba(0, 0, 0, 0.2) 51px, rgba(1, 1, 1, 0) 51px, rgba(1, 1, 1, 0) 54px, rgba(0, 0, 0, 0.03) 54px, rgba(0, 0, 0, 0.03) 57px, rgba(1, 1, 1, 0.06) 57px, rgba(1, 1, 1, 0.06) 60px, rgba(1, 1, 1, 0) 60px, rgba(1, 1, 1, 0) 63px, rgba(0, 0, 0, 0.1) 63px, rgba(0, 0, 0, 0.1) 66px, rgba(1, 1, 1, 0.19) 66px, rgba(1, 1, 1, 0.19) 69px), linear-gradient(90deg, rgb(2,6,23), rgb(5,62,122));
}

.sect-2{
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0px, rgba(0, 0, 0, 0.11) 12px, rgba(1, 1, 1, 0.16) 12px, rgba(1, 1, 1, 0.16) 24px, rgba(0, 0, 0, 0.14) 24px, rgba(0, 0, 0, 0.14) 36px, rgba(0, 0, 0, 0.23) 36px, rgba(0, 0, 0, 0.23) 48px, rgba(0, 0, 0, 0.12) 48px, rgba(0, 0, 0, 0.12) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(0, 0, 0, 0.21) 72px, rgba(0, 0, 0, 0.21) 84px, rgba(0, 0, 0, 0.24) 84px, rgba(0, 0, 0, 0.24) 96px, rgba(1, 1, 1, 0.23) 96px, rgba(1, 1, 1, 0.23) 108px, rgba(1, 1, 1, 0.07) 108px, rgba(1, 1, 1, 0.07) 120px, rgba(0, 0, 0, 0.01) 120px, rgba(0, 0, 0, 0.01) 132px, rgba(1, 1, 1, 0.22) 132px, rgba(1, 1, 1, 0.22) 144px, rgba(1, 1, 1, 0.24) 144px, rgba(1, 1, 1, 0.24) 156px, rgba(0, 0, 0, 0) 156px, rgba(0, 0, 0, 0) 168px, rgba(0, 0, 0, 0.12) 168px, rgba(0, 0, 0, 0.12) 180px), repeating-linear-gradient(90deg, rgba(1, 1, 1, 0.01) 0px, rgba(1, 1, 1, 0.01) 12px, rgba(1, 1, 1, 0.15) 12px, rgba(1, 1, 1, 0.15) 24px, rgba(0, 0, 0, 0.09) 24px, rgba(0, 0, 0, 0.09) 36px, rgba(0, 0, 0, 0.02) 36px, rgba(0, 0, 0, 0.02) 48px, rgba(0, 0, 0, 0.1) 48px, rgba(0, 0, 0, 0.1) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(1, 1, 1, 0.15) 72px, rgba(1, 1, 1, 0.15) 84px, rgba(0, 0, 0, 0.18) 84px, rgba(0, 0, 0, 0.18) 96px, rgba(1, 1, 1, 0.15) 96px, rgba(1, 1, 1, 0.15) 108px, rgba(1, 1, 1, 0.09) 108px, rgba(1, 1, 1, 0.09) 120px, rgba(1, 1, 1, 0.07) 120px, rgba(1, 1, 1, 0.07) 132px, rgba(1, 1, 1, 0.05) 132px, rgba(1, 1, 1, 0.05) 144px, rgba(0, 0, 0, 0.1) 144px, rgba(0, 0, 0, 0.1) 156px, rgba(1, 1, 1, 0.18) 156px, rgba(1, 1, 1, 0.18) 168px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 16px, rgba(1, 1, 1, 0.06) 16px, rgba(1, 1, 1, 0.06) 32px, rgba(0, 0, 0, 0.16) 32px, rgba(0, 0, 0, 0.16) 48px, rgba(1, 1, 1, 0) 48px, rgba(1, 1, 1, 0) 64px, rgba(1, 1, 1, 0.12) 64px, rgba(1, 1, 1, 0.12) 80px, rgba(1, 1, 1, 0.22) 80px, rgba(1, 1, 1, 0.22) 96px, rgba(0, 0, 0, 0.24) 96px, rgba(0, 0, 0, 0.24) 112px, rgba(0, 0, 0, 0.25) 112px, rgba(0, 0, 0, 0.25) 128px, rgba(1, 1, 1, 0.12) 128px, rgba(1, 1, 1, 0.12) 144px, rgba(0, 0, 0, 0.18) 144px, rgba(0, 0, 0, 0.18) 160px, rgba(1, 1, 1, 0.03) 160px, rgba(1, 1, 1, 0.03) 176px, rgba(1, 1, 1, 0.1) 176px, rgba(1, 1, 1, 0.1) 192px), repeating-linear-gradient(135deg, rgba(1, 1, 1, 0.18) 0px, rgba(1, 1, 1, 0.18) 3px, rgba(0, 0, 0, 0.09) 3px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.08) 6px, rgba(0, 0, 0, 0.08) 9px, rgba(1, 1, 1, 0.05) 9px, rgba(1, 1, 1, 0.05) 12px, rgba(0, 0, 0, 0.01) 12px, rgba(0, 0, 0, 0.01) 15px, rgba(1, 1, 1, 0.12) 15px, rgba(1, 1, 1, 0.12) 18px, rgba(0, 0, 0, 0.05) 18px, rgba(0, 0, 0, 0.05) 21px, rgba(1, 1, 1, 0.16) 21px, rgba(1, 1, 1, 0.16) 24px, rgba(1, 1, 1, 0.07) 24px, rgba(1, 1, 1, 0.07) 27px, rgba(1, 1, 1, 0.23) 27px, rgba(1, 1, 1, 0.23) 30px, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0.2) 33px, rgba(0, 0, 0, 0.18) 33px, rgba(0, 0, 0, 0.18) 36px, rgba(1, 1, 1, 0.12) 36px, rgba(1, 1, 1, 0.12) 39px, rgba(1, 1, 1, 0.13) 39px, rgba(1, 1, 1, 0.13) 42px, rgba(1, 1, 1, 0.2) 42px, rgba(1, 1, 1, 0.2) 45px, rgba(1, 1, 1, 0.18) 45px, rgba(1, 1, 1, 0.18) 48px, rgba(0, 0, 0, 0.2) 48px, rgba(0, 0, 0, 0.2) 51px, rgba(1, 1, 1, 0) 51px, rgba(1, 1, 1, 0) 54px, rgba(0, 0, 0, 0.03) 54px, rgba(0, 0, 0, 0.03) 57px, rgba(1, 1, 1, 0.06) 57px, rgba(1, 1, 1, 0.06) 60px, rgba(1, 1, 1, 0) 60px, rgba(1, 1, 1, 0) 63px, rgba(0, 0, 0, 0.1) 63px, rgba(0, 0, 0, 0.1) 66px, rgba(1, 1, 1, 0.19) 66px, rgba(1, 1, 1, 0.19) 69px), linear-gradient(90deg, rgb(2,6,23), rgb(5,62,122));
	position: relative;
	min-height: 150vh;
	/* display: grid;
  grid-template-columns: repeat(4, 1fr); */
	color: #fff;
}

.card-main{
  margin: 0 auto;
	position: relative;
	width: 280px;
	height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.246);
  z-index: 10;
  border-radius: 5px;
}


  .card-main .user{
	border-radius: 50%;
	box-shadow:5px 5px 10px rgba(0, 0, 0, 0.2);
	width: 85px;
	height: 85px;
	margin: 37px  auto;
  }

  .card-main .tags{
	position: absolute;
	top: 15px;
	left: 15px;
	display: flex;
	flex-direction: column;
  }

  .card-main .tags a{
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	border-radius: 50%;
	font-size: 25px;
	text-decoration: none;
  }
  
  .card-main .tags a i.fa-facebook{
	color: #fff;
  }
  .card-main .tags a i.fa-youtube{
	color: #fff;
  }
  .card-main .tags a i.fa-twitter{
	color: #fff;
  }


  @keyframes float{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0);
	}
  }

  

  .bbbtn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px 100px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(113, 113, 113);
    color: #fff;
    border-radius: 40px;
  }
  
  .bbbtn:hover {
    letter-spacing: 0.25em;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 0px 60px #1f4c65;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 40px;
  }
  
  .bbbtn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
    backdrop-filter: blur(10px);
  }
  
  .bbbtn span {
    position: relative;
    z-index: 1;
  }
  
  .bbbtn i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .bbbtn i::before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .bbbtn:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  .bbbtn i::after {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .bbbtn:hover i::after {
    width: 20px;
    left: 80%;
  }

  .text-fim{
    color: rgba(255, 255, 255, 0.798);
  }

  .vl {
    border: 1px solid rgba(223, 209, 209, 0.618);
    left: 299px;
    position: absolute;
  }
  .vll {
    border: 1px solid rgba(223, 209, 209, 0.618);
    left: 340px;
    position: absolute;
  }


  .bnt-ab {
    --fs: 1.25em;
    --col1: honeydew;
    --col2: rgba(240, 128, 128, 0.603);
    --col3: indianred;
    --col4: maroon;
    --col5: rgba(146, 145, 145, 0.1);
    --col6: rgba(255, 255, 255, 0.3);
    --pd: .5em .65em;
    display: grid;
    align-content: baseline;
    appearance: none;
    border: 0;
    grid-template-columns: min-content 1fr;
    padding: 8px 40px;
    font-size: 17px;
    color: white;
    background-color: var(--col5);
    border-radius: 40px;
    position: relative;
    transition: all .75s ease-out;
    transform-origin: center;
    border: 1px solid var(--col6);
  }
  
  .bnt-ab:active {
    animation: offset 1s ease-in-out infinite;
    outline: 2px solid var(--col2);
    outline-offset: 0;
  }
  
  .bnt-ab::after,
  .bnt-ab::before {
    content: '';
    align-self: center;
    justify-self: center;
    height: .5em;
    margin: 0 .5em;
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
  }
  
  .bnt-ab::after {
    position: relative;
    border: 2px solid var(--col1);
    border-radius: 50%;
    transition: all .5s ease-out;
    height: .1em;
    width: .1em;
  }
  
  .bnt-ab:hover::after {
    border: 2px solid var(--col3);
    transform: rotate(-120deg) translate(10%, 140%);
  }
  
  .bnt-ab::before {
    border-radius: 50% 0%;
    border: 4px solid var(--col4);
    box-shadow: inset 1px 1px var(--col2);
    transition: all 1s ease-out;
    transform: rotate(45deg);
    height: .45em;
    width: .45em;
  }
  
  .bnt-ab:hover::before {
    border-radius: 50%;
    border: 4px solid var(--col1);
    transform: scale(1.25) rotate(0deg);
    animation: blink 1.5s ease-out 1s infinite alternate;
  }
  
  .bnt-ab:hover > span {
    filter: contrast(150%);
  }
  
  @keyframes blink {
    0% {
      transform: scale(1, 1) skewX(0deg);
      opacity: 1;
    }
  
    5% {
      transform: scale(1.5, .1) skewX(10deg);
      opacity: .5;
    }
  
    10%,
    35% {
      transform: scale(1, 1) skewX(0deg);
      opacity: 1;
    }
  
    40% {
      transform: scale(1.5, .1) skewX(10deg);
      opacity: .25;
    }
  
    45%,
    100% {
      transform: scale(1, 1) skewX(0deg);
      opacity: 1;
    }
  }
  
  @keyframes offset {
    50% {
      outline-offset: .15em;
      outline-color: var(--col1);
    }
  
    55% {
      outline-offset: .1em;
      transform: translateY(1px);
    }
  
    80%,
    100% {
      outline-offset: 0;
    }
  }

.bol{
  border: 1px solid rgb(181, 175, 175);
}


.sec-3{
 
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(2%2c 10%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M585.18 51.73L650.14 89.23L650.14 164.23L585.18 201.73L520.23 164.23L520.23 89.23zM520.23 164.23L585.18 201.73L585.18 276.73L520.23 314.23L455.28 276.73L455.28 201.73zM650.14 164.23L715.09 201.73L715.09 276.73L650.14 314.23L585.18 276.73L585.18 201.73zM780.04 389.23L845 426.73L845 501.73L780.04 539.23L715.09 501.73L715.09 426.73zM1104.81 501.73L1169.77 539.23L1169.77 614.23L1104.81 651.73L1039.86 614.23L1039.86 539.23zM1169.77 -60.77L1234.72 -23.27L1234.72 51.73L1169.77 89.23L1104.81 51.73L1104.81 -23.27z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M577.68 51.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.64 89.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.64 164.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.68 201.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.73 164.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.73 89.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.68 276.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.73 314.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.78 276.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.78 201.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.59 201.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.59 276.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.64 314.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.54 389.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.5 426.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.5 501.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.54 539.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.59 501.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.59 426.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.31 501.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.27 539.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.27 614.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.31 651.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.36 614.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.36 539.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.27 -60.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1227.22 -23.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1227.22 51.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.27 89.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.31 51.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.31 -23.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M91.8 56.15L135.11 81.15L135.11 131.15L91.8 156.15L48.5 131.15L48.5 81.15zM48.5 281.15L91.8 306.15L91.8 356.15L48.5 381.15L5.2 356.15L5.2 306.15zM48.5 431.15L91.8 456.15L91.8 506.15L48.5 531.15L5.2 506.15L5.2 456.15zM91.8 506.15L135.11 531.15L135.11 581.15L91.8 606.15L48.5 581.15L48.5 531.15zM135.11 -18.85L178.41 6.15L178.41 56.15L135.11 81.15L91.8 56.15L91.8 6.15zM178.41 56.15L221.71 81.15L221.71 131.15L178.41 156.15L135.11 131.15L135.11 81.15zM135.11 281.15L178.41 306.15L178.41 356.15L135.11 381.15L91.8 356.15L91.8 306.15zM221.71 431.15L265.01 456.15L265.01 506.15L221.71 531.15L178.41 506.15L178.41 456.15zM308.31 -18.85L351.62 6.15L351.62 56.15L308.31 81.15L265.01 56.15L265.01 6.15zM308.31 431.15L351.62 456.15L351.62 506.15L308.31 531.15L265.01 506.15L265.01 456.15zM438.22 56.15L481.53 81.15L481.53 131.15L438.22 156.15L394.92 131.15L394.92 81.15zM481.53 -18.85L524.83 6.15L524.83 56.15L481.53 81.15L438.22 56.15L438.22 6.15zM481.53 131.15L524.83 156.15L524.83 206.15L481.53 231.15L438.22 206.15L438.22 156.15zM524.83 206.15L568.13 231.15L568.13 281.15L524.83 306.15L481.53 281.15L481.53 231.15zM481.53 431.15L524.83 456.15L524.83 506.15L481.53 531.15L438.22 506.15L438.22 456.15zM568.13 431.15L611.43 456.15L611.43 506.15L568.13 531.15L524.83 506.15L524.83 456.15zM698.04 56.15L741.34 81.15L741.34 131.15L698.04 156.15L654.74 131.15L654.74 81.15zM784.64 206.15L827.95 231.15L827.95 281.15L784.64 306.15L741.34 281.15L741.34 231.15zM741.34 431.15L784.64 456.15L784.64 506.15L741.34 531.15L698.04 506.15L698.04 456.15zM827.95 -18.85L871.25 6.15L871.25 56.15L827.95 81.15L784.64 56.15L784.64 6.15zM871.25 206.15L914.55 231.15L914.55 281.15L871.25 306.15L827.95 281.15L827.95 231.15zM871.25 506.15L914.55 531.15L914.55 581.15L871.25 606.15L827.95 581.15L827.95 531.15zM914.55 431.15L957.85 456.15L957.85 506.15L914.55 531.15L871.25 506.15L871.25 456.15zM1044.46 56.15L1087.76 81.15L1087.76 131.15L1044.46 156.15L1001.16 131.15L1001.16 81.15zM1044.46 506.15L1087.76 531.15L1087.76 581.15L1044.46 606.15L1001.16 581.15L1001.16 531.15zM1131.06 56.15L1174.37 81.15L1174.37 131.15L1131.06 156.15L1087.76 131.15L1087.76 81.15zM1217.67 206.15L1260.97 231.15L1260.97 281.15L1217.67 306.15L1174.37 281.15L1174.37 231.15zM1260.97 131.15L1304.27 156.15L1304.27 206.15L1260.97 231.15L1217.67 206.15L1217.67 156.15zM1260.97 431.15L1304.27 456.15L1304.27 506.15L1260.97 531.15L1217.67 506.15L1217.67 456.15zM1304.27 506.15L1347.58 531.15L1347.58 581.15L1304.27 606.15L1260.97 581.15L1260.97 531.15zM1390.88 56.15L1434.18 81.15L1434.18 131.15L1390.88 156.15L1347.58 131.15L1347.58 81.15zM1390.88 506.15L1434.18 531.15L1434.18 581.15L1390.88 606.15L1347.58 581.15L1347.58 531.15zM1434.18 281.15L1477.48 306.15L1477.48 356.15L1434.18 381.15L1390.88 356.15L1390.88 306.15zM1434.18 431.15L1477.48 456.15L1477.48 506.15L1434.18 531.15L1390.88 506.15L1390.88 456.15zM1477.48 506.15L1520.79 531.15L1520.79 581.15L1477.48 606.15L1434.18 581.15L1434.18 531.15z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.bg-ok{
  background-color: rgba(133, 132, 132, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}


.img-ok:hover{
  transform: translateY(-2%);
  transition-duration: 0.7s;
}



.sec-4
{
	background: rgba(2, 10, 23, 1);
}
.square
{
	position: relative;
	width: 500px;
	height: 550px;
	display: flex;
	justify-content: center;
  background-color: rgba(133, 132, 132, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.vgo{
  border-radius: 40px;
  position: relative;
	background: transparent;
	border: 1px solid #8b8282b8;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}


.square i
{
	position: absolute;
	inset: 0;
	border: 2px solid #fff;
	transition: 0.5s;
}
.square i:nth-child(1)
{
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate 6s linear infinite;
}
.square i:nth-child(2)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate 4s linear infinite;
}
.square i:nth-child(3)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate2 10s linear infinite;
}
.square:hover i
{
	border: 6px solid var(--clr);
	filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}
.login 
{
  margin-top: 40px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.login h2 
{
	font-size: 35px;
	color: #fff;
}
.login .inputBx 
{
	position: relative;
}
.login .inputBx input 
{
	position: relative;
	padding: 10px 0 10px 15px;
  width: 290px;
	background: transparent;
	border: 1px solid #8b8282b8;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	font-size: 1.2em;
	color: #fff;
}

.ambe{
  position: relative;
	background: transparent;
	border: 1px solid #8b8282b8;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	font-size: 1.2em;
	color: #fff;
  padding: 10px 0 10px 15px;
}

.text-m{
  color: rgba(255,255,255,0.75);
}

.ambe::placeholder{
  color: rgba(255,255,255,0.75);
}

.login .inputBx input::placeholder 
{
	color: rgba(255,255,255,0.75);
}





svg {
	height: 23rem;
	margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}


